div.paginador {
  text-align: right;
  margin: 1px;
}

div.pagina {
  display: inline-block;
  color: #666;
  font-size: 0.9em;
  
  &.numerada {
    border: 1px solid #999;
    background-color: #c0c0c0;
    width: 32px;
    text-align: center;
    margin: 0px 0.5em 0.5em 0.5em;
    
    &.selecionada {
      border: 1px solid #900;
      background-color: #a44;
      color: white;
    }
  }
}
